<blockquote class="quote">
    <p class="qoute__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit vel, eos cum incidunt itaque officia quia laudantium voluptatem magnam dolorem!</p>
    <footer>
        <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary quote__line">
                    <use xlink:href="images/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">Mahmud Alik</h3>
                <p class="quote__organization">ABC HyperActive</p>
            </div>
        </div>
    </footer>
</blockquote>